node_modules/
dist/
build/
.turbo/
.env
.env.*
.DS_Store
logs/
/.parcel-cache
/.cache
/.next
/coverage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/.idea
/.vscode
/.history
*.local
*.key
.secret
/.env
apps/**/node_modules/
web/node_modules/
api/node_modules/
extension/node_modules/
docs/
backups/
docker-compose.override.yml
